<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="\static\styles.css" type="text/css">
</head>
<body>
    {% for review in reviews %}

            <div class = 'reviewsList'>
                <div class = 'review'>

                {% for img in images %}
                    {% if img.review_id == review.review_id %}
                        <a href='{{img.url_pic_size4}}'>
                            <img src='{{img.url_pic_size2}}'>
                        </a>
                    {% endif %}
        	    {% endfor %}

                <div class="user_name">
                    {{review.user_fullName}} <br>
                </div>

                    {{review.text}}          <br>

                </div>
	        </div>
    {% endfor %}

</body>
</html>